.f1{position:absolute;white-space:nowrap}.f1.animated{transition:left .2s}.f1:focus{border:2px solid rgba(52, 153, 128, 0.65);border-radius:10px;margin-top:-2px;margin-right:2px}.f2{display:inline;float:right;visibility:hidden;white-space:nowrap}

